TransportAPP/TransportAPP/Web References/WebReference/TransportWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.transportservice.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.transportservice.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.transportservice.com/">
      <s:element name="Saludo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaludoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaludoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsuarios">
        <s:complexType />
      </s:element>
      <s:element name="GetUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsuariosResult">
              <s:complexType>
                <s:sequence maxOccurs="unbounded">
                  <s:any minOccurs="0" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="0" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExisteUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExisteUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExisteUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertaUsuarioResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence maxOccurs="unbounded">
            <s:any minOccurs="0" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="0" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaludoSoapIn">
    <wsdl:part name="parameters" element="tns:Saludo" />
  </wsdl:message>
  <wsdl:message name="SaludoSoapOut">
    <wsdl:part name="parameters" element="tns:SaludoResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsuarios" />
  </wsdl:message>
  <wsdl:message name="GetUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="ExisteUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ExisteUsuario" />
  </wsdl:message>
  <wsdl:message name="ExisteUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ExisteUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="InsertaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:InsertaUsuario" />
  </wsdl:message>
  <wsdl:message name="InsertaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:InsertaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="SaludoHttpGetIn">
    <wsdl:part name="nombre" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaludoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUsuariosHttpGetIn" />
  <wsdl:message name="GetUsuariosHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ExisteUsuarioHttpGetIn">
    <wsdl:part name="usuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExisteUsuarioHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="InsertaUsuarioHttpGetIn">
    <wsdl:part name="usuario" type="s:string" />
    <wsdl:part name="clave" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertaUsuarioHttpGetOut" />
  <wsdl:message name="SaludoHttpPostIn">
    <wsdl:part name="nombre" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaludoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUsuariosHttpPostIn" />
  <wsdl:message name="GetUsuariosHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ExisteUsuarioHttpPostIn">
    <wsdl:part name="usuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExisteUsuarioHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="InsertaUsuarioHttpPostIn">
    <wsdl:part name="usuario" type="s:string" />
    <wsdl:part name="clave" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertaUsuarioHttpPostOut" />
  <wsdl:portType name="TransportWSSoap">
    <wsdl:operation name="Saludo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de retorna un saludo.</wsdl:documentation>
      <wsdl:input message="tns:SaludoSoapIn" />
      <wsdl:output message="tns:SaludoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuarios">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna una lista de todos los usuarios que se encuentran en la base de datos.</wsdl:documentation>
      <wsdl:input message="tns:GetUsuariosSoapIn" />
      <wsdl:output message="tns:GetUsuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExisteUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo que valida la existencia de un usuario.</wsdl:documentation>
      <wsdl:input message="tns:ExisteUsuarioSoapIn" />
      <wsdl:output message="tns:ExisteUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertaUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo que inserta un Usuario.</wsdl:documentation>
      <wsdl:input message="tns:InsertaUsuarioSoapIn" />
      <wsdl:output message="tns:InsertaUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TransportWSHttpGet">
    <wsdl:operation name="Saludo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de retorna un saludo.</wsdl:documentation>
      <wsdl:input message="tns:SaludoHttpGetIn" />
      <wsdl:output message="tns:SaludoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuarios">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna una lista de todos los usuarios que se encuentran en la base de datos.</wsdl:documentation>
      <wsdl:input message="tns:GetUsuariosHttpGetIn" />
      <wsdl:output message="tns:GetUsuariosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ExisteUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo que valida la existencia de un usuario.</wsdl:documentation>
      <wsdl:input message="tns:ExisteUsuarioHttpGetIn" />
      <wsdl:output message="tns:ExisteUsuarioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertaUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo que inserta un Usuario.</wsdl:documentation>
      <wsdl:input message="tns:InsertaUsuarioHttpGetIn" />
      <wsdl:output message="tns:InsertaUsuarioHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TransportWSHttpPost">
    <wsdl:operation name="Saludo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo de retorna un saludo.</wsdl:documentation>
      <wsdl:input message="tns:SaludoHttpPostIn" />
      <wsdl:output message="tns:SaludoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuarios">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna una lista de todos los usuarios que se encuentran en la base de datos.</wsdl:documentation>
      <wsdl:input message="tns:GetUsuariosHttpPostIn" />
      <wsdl:output message="tns:GetUsuariosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ExisteUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo que valida la existencia de un usuario.</wsdl:documentation>
      <wsdl:input message="tns:ExisteUsuarioHttpPostIn" />
      <wsdl:output message="tns:ExisteUsuarioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertaUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo que inserta un Usuario.</wsdl:documentation>
      <wsdl:input message="tns:InsertaUsuarioHttpPostIn" />
      <wsdl:output message="tns:InsertaUsuarioHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TransportWSSoap" type="tns:TransportWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Saludo">
      <soap:operation soapAction="http://www.transportservice.com/Saludo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarios">
      <soap:operation soapAction="http://www.transportservice.com/GetUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteUsuario">
      <soap:operation soapAction="http://www.transportservice.com/ExisteUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaUsuario">
      <soap:operation soapAction="http://www.transportservice.com/InsertaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TransportWSSoap12" type="tns:TransportWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Saludo">
      <soap12:operation soapAction="http://www.transportservice.com/Saludo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarios">
      <soap12:operation soapAction="http://www.transportservice.com/GetUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteUsuario">
      <soap12:operation soapAction="http://www.transportservice.com/ExisteUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaUsuario">
      <soap12:operation soapAction="http://www.transportservice.com/InsertaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TransportWSHttpGet" type="tns:TransportWSHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Saludo">
      <http:operation location="/Saludo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarios">
      <http:operation location="/GetUsuarios" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteUsuario">
      <http:operation location="/ExisteUsuario" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaUsuario">
      <http:operation location="/InsertaUsuario" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TransportWSHttpPost" type="tns:TransportWSHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Saludo">
      <http:operation location="/Saludo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarios">
      <http:operation location="/GetUsuarios" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteUsuario">
      <http:operation location="/ExisteUsuario" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaUsuario">
      <http:operation location="/InsertaUsuario" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransportWS">
    <wsdl:port name="TransportWSSoap" binding="tns:TransportWSSoap">
      <soap:address location="http://3.135.223.148:5000/TransportWS.asmx" />
    </wsdl:port>
    <wsdl:port name="TransportWSSoap12" binding="tns:TransportWSSoap12">
      <soap12:address location="http://3.135.223.148:5000/TransportWS.asmx" />
    </wsdl:port>
    <wsdl:port name="TransportWSHttpGet" binding="tns:TransportWSHttpGet">
      <http:address location="http://3.135.223.148:5000/TransportWS.asmx" />
    </wsdl:port>
    <wsdl:port name="TransportWSHttpPost" binding="tns:TransportWSHttpPost">
      <http:address location="http://3.135.223.148:5000/TransportWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>